<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_coin_cell-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>bar_coin_cell-bar_coin_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,71},{67,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{67,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>bar_coin_cell-bar_coin_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{67,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,20},{67,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>bar_coin_cell-bar_coin_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,20},{67,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>bar_coin_cell-bar_coin_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{67,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{67,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>bar_coin_cell-bar_coin_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{67,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{67,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>bar_coin_cell-bar_coin_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{67,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bar_coin.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cf065897594d39852aaf06b2b280170$</string>
            <key>textureFileName</key>
            <string>bar_coin.png</string>
        </dict>
    </dict>
</plist>
