<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,426},{72,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,86}}</string>
                <key>sourceSize</key>
                <string>{72,86}</string>
            </dict>
            <key>cannon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,193},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>cannon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{107,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,94}}</string>
                <key>sourceSize</key>
                <string>{107,94}</string>
            </dict>
            <key>cannon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,175},{88,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,101}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>cannon_12_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,103},{88,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,101}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>cannon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,147},{112,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,78}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>cannon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,357},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>cannon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,543},{85,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>cannon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,88},{84,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,95}}</string>
                <key>sourceSize</key>
                <string>{84,95}</string>
            </dict>
            <key>cannon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,287},{87,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,91}</string>
            </dict>
            <key>cannon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,172},{80,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,95}}</string>
                <key>sourceSize</key>
                <string>{80,95}</string>
            </dict>
            <key>cannon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,98},{90,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,101}}</string>
                <key>sourceSize</key>
                <string>{96,101}</string>
            </dict>
            <key>cannon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{130,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,99}}</string>
                <key>sourceSize</key>
                <string>{130,99}</string>
            </dict>
            <key>cannon_change_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,82},{130,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,44}}</string>
                <key>sourceSize</key>
                <string>{130,50}</string>
            </dict>
            <key>cannon_change_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{130,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,44}}</string>
                <key>sourceSize</key>
                <string>{130,50}</string>
            </dict>
            <key>cannon_change_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,61},{130,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,44}}</string>
                <key>sourceSize</key>
                <string>{130,50}</string>
            </dict>
            <key>cannon_effect_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,485},{82,90}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,444},{82,90}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,376},{82,90}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,368},{82,90}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,569},{80,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{80,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,284},{82,92}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{82,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,254},{82,92}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{82,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,174},{82,92}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{82,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,375},{82,92}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{82,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,382},{80,86}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{80,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,338},{82,90}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,298},{82,90}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,258},{82,90}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{82,90}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,528},{80,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{80,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,712},{62,48}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,52},{62,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,536},{70,54}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,46},{70,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,464},{80,82}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,38},{80,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,584},{74,68}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{74,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,214},{48,70}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{48,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,452},{62,48}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,52},{62,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,506},{70,54}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,46},{70,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,636},{80,84}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,36},{80,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,546},{74,68}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{74,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,382},{48,68}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{48,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,500},{66,76}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,44},{66,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,193},{104,110}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{104,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,299},{74,100}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{74,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,227},{78,100}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{78,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,516},{66,82}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,15},{66,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,460},{76,84}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{76,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,61},{106,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{106,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{88,110}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{88,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{90,108}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{90,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,372},{66,86}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{66,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,651},{62,62}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{62,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,307},{92,92}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,190},{94,92}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{96,90}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{96,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,265},{94,90}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,460},{82,88}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{82,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,459},{82,90}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,452},{82,88}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{82,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,422},{82,88}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{82,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{80,86}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{80,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{124,126}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cannon_effect_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,342},{82,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{82,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,401},{82,90}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{82,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{82,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,546},{82,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{82,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,630},{80,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{80,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_effect_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,286},{64,84}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{64,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,88},{82,102}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{82,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,107},{84,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{84,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,61},{84,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{84,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{84,106}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{84,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannon_effect_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{84,106}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannonbase_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,78}}</string>
                <key>sourceSize</key>
                <string>{176,78}</string>
            </dict>
            <key>cannonbase_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{176,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,57}}</string>
                <key>sourceSize</key>
                <string>{176,57}</string>
            </dict>
            <key>cannonbase_2_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,57}}</string>
                <key>sourceSize</key>
                <string>{176,57}</string>
            </dict>
            <key>click_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>click_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,134},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>click_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,88},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>click_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,718},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>click_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,236},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>click_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,610},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>click_effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,174},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>click_effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,544},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35b4d18392370dc3ff26309e617e8790$</string>
            <key>textureFileName</key>
            <string>cannon.png</string>
        </dict>
    </dict>
</plist>
