<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>display_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,43},{36,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>display_fish_aimat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{114,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>display_pao_aimat_0_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,80},{76,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{76,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>display_pao_aimat_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{76,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>display_pao_aimat_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,158},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{74,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>display_pao_aimat_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,234},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{72,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>display_pao_aimat_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>display_pao_aimat_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,158},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{78,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>display_pao_aimat_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{78,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>display_pao_aimat_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,236},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{76,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>display_aimat.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee10620330012cc9df4e6bf85362d88b$</string>
            <key>textureFileName</key>
            <string>display_aimat.png</string>
        </dict>
    </dict>
</plist>
