<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sk_yulei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,404},{278,254}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,66},{278,254}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>sk_yulei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{340,378}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,7},{340,378}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>sk_yulei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,404},{268,244}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,91},{268,244}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>sk_yulei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,404},{290,320}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,28},{290,320}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>sk_yulei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,370},{386,384}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{386,384}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>sk_yulei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>sk_yulei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>sk_yulei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>sk_yulei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{388,400}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{388,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>sk_yulei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{388,366}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{388,366}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect3.png</string>
            <key>size</key>
            <string>{1988,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc61e3f42e033646fd52213a6ee1cca1$</string>
            <key>textureFileName</key>
            <string>effect3.png</string>
        </dict>
    </dict>
</plist>
