<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect4_r1_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,295}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{246,295}}</string>
                <key>sourceSize</key>
                <string>{252,299}</string>
            </dict>
            <key>effect4_r1_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,250},{252,295}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{252,295}}</string>
                <key>sourceSize</key>
                <string>{252,299}</string>
            </dict>
            <key>effect4_r1_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{251,295}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{251,295}}</string>
                <key>sourceSize</key>
                <string>{251,299}</string>
            </dict>
            <key>effect4_r1_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{252,295}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{252,295}}</string>
                <key>sourceSize</key>
                <string>{252,299}</string>
            </dict>
            <key>effect4_r2_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{246,300}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{246,300}}</string>
                <key>sourceSize</key>
                <string>{252,300}</string>
            </dict>
            <key>effect4_r2_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,255},{252,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,300}}</string>
                <key>sourceSize</key>
                <string>{252,300}</string>
            </dict>
            <key>effect4_r2_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{251,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,300}}</string>
                <key>sourceSize</key>
                <string>{251,300}</string>
            </dict>
            <key>effect4_r2_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,255},{252,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,300}}</string>
                <key>sourceSize</key>
                <string>{252,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect4.png</string>
            <key>size</key>
            <string>{1200,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9ee819f5287218c5a65a5882419881d$</string>
            <key>textureFileName</key>
            <string>effect4.png</string>
        </dict>
    </dict>
</plist>
