<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1196},{278,94}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,15},{278,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1476},{276,94}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,15},{276,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,872},{276,90}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,17},{276,90}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,288},{282,90}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,16},{282,90}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{284,86}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,18},{284,86}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>13_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,602},{286,86}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,17},{286,86}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>13_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,302},{284,86}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,17},{284,86}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>13_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,2},{282,88}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,17},{282,88}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>13_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,588},{282,90}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,17},{282,90}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>13_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1512},{280,94}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,15},{280,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>13_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1936},{250,100}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,7},{250,100}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>13_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1512},{280,80}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,20},{280,80}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>13_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1936},{278,100}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,20},{278,100}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1794},{208,250}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,130},{208,250}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1834},{208,260}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,126},{208,260}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,544},{208,244}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,135},{208,244}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,2},{208,248}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,131},{208,248}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,286},{206,256}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,128},{206,256}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1150},{206,246}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,134},{206,246}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,626},{206,232}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,142},{206,232}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,834},{206,222}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,147},{206,222}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1320},{206,220}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,149},{206,220}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1398},{206,224}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,148},{206,224}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1096},{206,222}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,149},{206,222}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,416},{208,232}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,143},{208,232}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,848},{186,246}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,131},{186,246}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,210},{204,248}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,132},{204,248}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>14_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,2},{206,248}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,131},{206,248}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1534},{298,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,58},{298,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{298,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,58},{298,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,302},{298,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,58},{298,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,606},{298,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,58},{298,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{300,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,58},{300,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,316},{300,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,58},{300,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,630},{300,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,58},{300,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,932},{300,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,58},{300,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,304},{300,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,59},{300,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,618},{300,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,59},{300,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1566},{300,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,57},{300,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1264},{300,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,58},{300,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1896},{268,144}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,55},{268,144}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,906},{288,136}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,62},{288,136}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>15_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,572},{274,138}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,62},{274,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,920},{298,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,58},{298,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1234},{298,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,58},{298,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1536},{298,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,58},{298,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{298,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,58},{298,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,630},{300,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,58},{300,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1566},{300,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,58},{300,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,962},{300,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,58},{300,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1264},{300,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,58},{300,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,932},{300,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,59},{300,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1234},{300,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,59},{300,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1594},{300,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,57},{300,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,962},{300,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,58},{300,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1868},{282,142}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,56},{282,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1292},{300,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,58},{300,140}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>16_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1220},{290,138}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,59},{290,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{318,322}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,95},{318,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,650},{320,312}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,102},{320,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{320,312}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,102},{320,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,322}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,95},{318,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,322},{318,290}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,116},{318,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{318,256}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,135},{318,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1616},{318,220}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,156},{318,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,642},{318,198}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,167},{318,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,972},{318,198}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,167},{318,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1296},{318,220}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,156},{318,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1296},{318,256}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,135},{318,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{318,290}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,116},{318,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{322,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,166},{322,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,316},{312,238}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,135},{312,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>17_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{312,308}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{312,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61f191c108ee9a154cffdf9522e00053$</string>
            <key>textureFileName</key>
            <string>fish2.png</string>
        </dict>
    </dict>
</plist>
