<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,456},{388,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,44},{388,168}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,766},{386,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,44},{386,168}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1396},{386,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,44},{386,166}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,142},{388,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,44},{388,168}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{380,168}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,43},{380,168}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1564},{374,166}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,44},{374,166}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1564},{364,166}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,43},{364,166}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1540},{358,164}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,44},{358,164}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1540},{358,164}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,44},{358,164}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1564},{364,164}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,44},{364,164}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{374,164}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,44},{374,164}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1564},{380,166}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,43},{380,166}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1564},{370,148}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,8},{370,148}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1540},{328,196}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,9},{328,196}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>19_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1378},{272,232}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,13},{272,232}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>20_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{492,152}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{492,152}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1068},{504,146}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{504,146}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>20_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{496,154}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,54},{496,154}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>20_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1230},{490,146}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,61},{490,146}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>20_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1084},{500,144}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,63},{500,144}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>20_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1076},{498,156}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,52},{498,156}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>20_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1216},{496,154}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,52},{496,154}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>20_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1234},{492,160}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,47},{492,160}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>20_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1372},{482,166}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,44},{482,166}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>20_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,936},{476,146}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,66},{476,146}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>20_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,312},{468,142}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,64},{468,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>20_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,2},{464,138}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,64},{464,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>20_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,626},{470,138}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,69},{470,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>22_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{524,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,120},{524,270}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,524},{522,270}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,120},{522,270}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>22_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,796},{516,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,120},{516,270}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,546},{520,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,119},{520,274}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>22_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{518,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,120},{518,270}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>22_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,274},{522,270}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,120},{522,270}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>22_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{522,270}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,120},{522,270}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>22_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,252},{522,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,120},{522,270}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>22_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{524,270}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,120},{524,270}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>22_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{522,268}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,121},{522,268}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>22_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{524,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,132},{524,248}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>22_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,822},{510,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,130},{510,252}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8038fc1d45ba7fa62a098b96182bad86$</string>
            <key>textureFileName</key>
            <string>fish3.png</string>
        </dict>
    </dict>
</plist>
