<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fsmelt_0_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,922},{200,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fsmelt_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,884},{200,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fsmelt_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,786},{200,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fsmelt_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,688},{200,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fsmelt_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,590},{200,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fsmelt_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,982},{198,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{198,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fsmelt_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,492},{200,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fsmelt_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,394},{200,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fsmelt_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,296},{200,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fsmelt_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,198},{200,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fsmelt_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,100},{200,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fsmelt_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{200,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fsmelt_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,590},{84,18}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{84,18}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fsmelt_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,922},{40,58}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{40,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fsmelt_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,924},{70,74}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{70,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fsmelt_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,964},{88,56}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,41},{88,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fsmelt_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1064},{48,66}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,21},{48,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fsmelt_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1066},{66,38}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,21},{66,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fsmelt_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{1,1}}</string>
                <key>offset</key>
                <string>{-134.5,134.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>fsmelt_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,554},{264,184}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{264,184}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>fsmelt_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,554},{264,184}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{264,184}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>fsmelt_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{264,184}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{264,184}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>fsmelt_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,554},{264,184}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{264,184}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>fsmelt_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,554},{264,184}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{264,184}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>fsmelt_3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,740},{264,180}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{264,180}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>fsmelt_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,740},{264,182}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{264,182}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>fsmelt_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,370},{266,182}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{266,182}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>fsmelt_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,370},{266,182}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{266,182}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>fsmelt_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{266,182}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{266,182}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>fsmelt_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,186},{266,182}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{266,182}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>fsmelt_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,186},{266,182}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{266,182}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>fsmelt_3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{264,182}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{264,182}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>fsmelt_3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{266,182}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{266,182}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>fsmelt_3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{266,182}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{266,182}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>fsmelt_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{266,182}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{266,182}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>fsmelt_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,182}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{266,182}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>fsmelt_4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,990},{96,72}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{96,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fsmelt_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,992},{94,72}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{94,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fsmelt_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1032},{94,68}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{94,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fsmelt_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,996},{94,66}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{94,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fsmelt_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,924},{100,64}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fsmelt_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,924},{100,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fsmelt_6_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{136,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fsmelt_6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,924},{106,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,48},{106,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fsmelt.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfdf657ae541901872431df12fa70dcc$</string>
            <key>textureFileName</key>
            <string>fsmelt.png</string>
        </dict>
    </dict>
</plist>
