<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,635},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,608},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,579},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>bullet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,548},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>bullet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,610},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>bullet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,577},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>bullet7.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,543},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>bullet8.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,511},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
            <key>gun1_r1_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,656},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{74,58}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>gun1_r2_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,642},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{74,58}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>gun1_r3_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,700},{70,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{70,58}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>gun1_r4_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,625},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{74,58}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>gun1_r5_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,656},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{74,58}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>gun2_r1_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{74,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{74,58}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>gun2_r2_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,640},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{74,58}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>gun2_r3_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,304},{72,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{72,58}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>gun2_r4_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,580},{74,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{74,58}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>gun2_r5_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{74,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{74,58}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>gun3_r1_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{76,58}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>gun3_r2_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,580},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{76,58}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>gun3_r3_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,242},{72,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,60}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>gun3_r4_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,132},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{76,58}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>gun3_r5_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{76,58}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>gun4_r1_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,516},{83,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{83,62}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>gun4_r2_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,614},{81,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{81,62}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>gun4_r3_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,68},{77,62}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{77,62}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>gun4_r4_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,614},{81,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{81,62}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>gun4_r5_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,516},{83,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{83,62}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>gun5_r1_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,450},{83,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{83,64}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>gun5_r2_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,548},{81,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{81,64}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>gun5_r3_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{77,64}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{77,64}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>gun5_r4_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,548},{81,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{81,64}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>gun5_r5_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,450},{83,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{83,64}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>gun6_r1_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,478},{88,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,68}}</string>
                <key>sourceSize</key>
                <string>{90,74}</string>
            </dict>
            <key>gun6_r2_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,408},{88,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,68}}</string>
                <key>sourceSize</key>
                <string>{90,74}</string>
            </dict>
            <key>gun6_r3_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{80,68}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,68}}</string>
                <key>sourceSize</key>
                <string>{90,74}</string>
            </dict>
            <key>gun6_r4_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,408},{88,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,68}}</string>
                <key>sourceSize</key>
                <string>{90,74}</string>
            </dict>
            <key>gun6_r5_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,478},{88,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,68}}</string>
                <key>sourceSize</key>
                <string>{90,74}</string>
            </dict>
            <key>gun7_r1_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,336},{92,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,70}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>gun7_r2_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,264},{92,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,70}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>gun7_r3_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,364},{84,70}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,70}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>gun7_r4_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,192},{92,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,70}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>gun7_r5_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,336},{92,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,70}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>web1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,511},{112,114}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{112,114}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>web2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{133,138}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{133,138}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>web3.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,357},{152,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{152,158}}</string>
                <key>sourceSize</key>
                <string>{156,162}</string>
            </dict>
            <key>web4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,185},{174,170}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{174,170}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>web5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{163,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,155}}</string>
                <key>sourceSize</key>
                <string>{163,155}</string>
            </dict>
            <key>web6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{189,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,181}}</string>
                <key>sourceSize</key>
                <string>{191,181}</string>
            </dict>
            <key>web7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,238}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{238,238}}</string>
                <key>sourceSize</key>
                <string>{242,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gun.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:880a67b16a4abcae42416896339d746c$</string>
            <key>textureFileName</key>
            <string>gun.png</string>
        </dict>
    </dict>
</plist>
