<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigboom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{74,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,74},{74,81}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>bigboom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,673},{154,177}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,23},{154,177}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>bigboom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,673},{230,225}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,0},{230,225}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>bigboom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,446},{258,225}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{258,225}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>bigboom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,219},{286,225}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{286,225}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>bigboom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{324,215}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,7},{324,215}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>wave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{331,600}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{331,600}}</string>
                <key>sourceSize</key>
                <string>{341,600}</string>
            </dict>
            <key>wave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{331,600}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{331,600}}</string>
                <key>sourceSize</key>
                <string>{341,600}</string>
            </dict>
            <key>wave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{331,600}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{331,600}}</string>
                <key>sourceSize</key>
                <string>{341,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lighting.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dca042822147d6ee3702d9f3394daaaf$</string>
            <key>textureFileName</key>
            <string>lighting.png</string>
        </dict>
    </dict>
</plist>
