<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nbomb_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{110,62}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{110,62}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,180},{110,52}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{110,52}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,292},{106,44}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{106,44}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,446},{84,34}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{84,34}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,366},{58,24}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{58,24}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,482},{32,14}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{32,14}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,348},{40,40}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{40,40}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,400},{82,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{82,70}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,216},{92,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{92,76}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{100,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{100,80}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{108,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{108,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{110,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,90},{106,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,90},{106,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,92},{104,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{104,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,180},{102,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,84}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,180},{102,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,84}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{102,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{102,84}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,310},{100,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{100,82}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,264},{100,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{100,82}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{96,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{96,82}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,348},{96,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{96,82}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,180},{100,82}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{100,82}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,266},{100,80}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{100,80}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,114},{100,72}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{100,72}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,400},{98,70}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{98,70}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,356},{70,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{70,60}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,284},{70,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{70,60}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,428},{70,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{70,56}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>nbomb_effect_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{68,52}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{68,52}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nbomb_effect.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d02bbd9629b5af923cfc6ccce2b38ff$</string>
            <key>textureFileName</key>
            <string>nbomb_effect.png</string>
        </dict>
    </dict>
</plist>
