<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishname_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,325},{98,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,32}</string>
            </dict>
            <key>fishname_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,325},{99,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,31}}</string>
                <key>sourceSize</key>
                <string>{99,31}</string>
            </dict>
            <key>fishname_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{131,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,32}}</string>
                <key>sourceSize</key>
                <string>{131,32}</string>
            </dict>
            <key>fishname_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,472},{131,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,33}}</string>
                <key>sourceSize</key>
                <string>{131,33}</string>
            </dict>
            <key>fishname_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,69},{131,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,31}}</string>
                <key>sourceSize</key>
                <string>{131,31}</string>
            </dict>
            <key>fishname_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,470},{131,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,32}}</string>
                <key>sourceSize</key>
                <string>{131,32}</string>
            </dict>
            <key>fishname_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,436},{131,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,32}}</string>
                <key>sourceSize</key>
                <string>{131,32}</string>
            </dict>
            <key>fishname_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,36},{131,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,31}}</string>
                <key>sourceSize</key>
                <string>{131,31}</string>
            </dict>
            <key>fishname_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,426},{99,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,32}}</string>
                <key>sourceSize</key>
                <string>{99,32}</string>
            </dict>
            <key>fishname_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,442},{67,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,32}}</string>
                <key>sourceSize</key>
                <string>{67,32}</string>
            </dict>
            <key>fishname_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{68,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,31}}</string>
                <key>sourceSize</key>
                <string>{68,31}</string>
            </dict>
            <key>fishname_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,325},{99,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,32}}</string>
                <key>sourceSize</key>
                <string>{99,32}</string>
            </dict>
            <key>fishname_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,325},{100,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,32}}</string>
                <key>sourceSize</key>
                <string>{100,32}</string>
            </dict>
            <key>fishname_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,325},{99,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,32}}</string>
                <key>sourceSize</key>
                <string>{99,32}</string>
            </dict>
            <key>fishname_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,436},{132,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,34}}</string>
                <key>sourceSize</key>
                <string>{132,34}</string>
            </dict>
            <key>fishname_403.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,214},{109,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,32}}</string>
                <key>sourceSize</key>
                <string>{109,32}</string>
            </dict>
            <key>fishname_404.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,114},{110,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,32}}</string>
                <key>sourceSize</key>
                <string>{110,32}</string>
            </dict>
            <key>fishname_405.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,102},{110,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,32}}</string>
                <key>sourceSize</key>
                <string>{110,32}</string>
            </dict>
            <key>fishname_407.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{110,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,32}}</string>
                <key>sourceSize</key>
                <string>{110,32}</string>
            </dict>
            <key>fishname_409.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,472},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>yuanpan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,244},{188,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{188,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>yuanpan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yuanpan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{196,62}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,127},{196,62}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>notice_gold_yuanpan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88e55d4c82081d7b93a2445ded2c0102$</string>
            <key>textureFileName</key>
            <string>notice_gold_yuanpan.png</string>
        </dict>
    </dict>
</plist>
