<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sh_loading_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,260},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sh_loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sh_loading_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sh_loading_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sh_loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sh_loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sh_loading_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sh_loading_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sh_loading_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sh_loading_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sh_loading_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sh_loading_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shLoad.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4ef5d2036e2cb51ca0acae1463e106e$</string>
            <key>textureFileName</key>
            <string>shLoad.png</string>
        </dict>
    </dict>
</plist>
