<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,342},{74,64}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,26},{74,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1174},{118,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{118,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,738},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,908},{128,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1072},{118,120}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{118,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,796},{90,88}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{90,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>net_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,600},{134,122}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{134,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>net_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,522},{140,132}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{140,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>net_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{142,136}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>net_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,656},{138,136}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{138,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>net_11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,656},{132,120}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{132,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>net_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,716},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{52,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,644},{70,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,24},{70,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,886},{102,102}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{102,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1122},{118,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{118,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1044},{128,122}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{128,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1050},{124,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,870},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1038},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1028},{120,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,794},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,690},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,724},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1150},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,21},{84,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,686},{102,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{102,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1000},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1192},{108,118}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{108,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,926},{122,130}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{122,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{122,106}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{122,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_99_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,158},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>net_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1349},{90,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{90,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{120,114}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{120,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,798},{120,114}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{120,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,984},{128,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{128,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,778},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,856},{130,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>net_effect_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,598},{48,44}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{48,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1294},{106,112}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,40},{106,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,160},{154,152}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{154,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,160},{156,154}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,27},{156,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,308},{158,154}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{158,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{158,156}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{158,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,158},{158,156}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{158,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{160,156}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{160,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{160,156}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{160,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{160,156}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{160,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,154}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{162,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,154}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{162,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,920},{116,122}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{116,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,154}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{162,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,158},{160,148}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,36},{160,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{160,148}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{160,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,822},{122,130}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{122,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,466},{132,136}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{132,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{136,138}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,32},{136,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,316},{142,144}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,29},{142,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,316},{146,146}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{146,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,314},{150,150}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{150,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,312},{152,152}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{152,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net_effect_99_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,564},{88,96}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{88,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>net_effect_99_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,614},{122,132}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{122,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>net_effect_99_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,464},{130,142}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{130,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>net_effect_99_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,160},{150,154}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>net_effect_99_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,946},{126,124}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{126,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>shield_net_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,566},{136,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{136,88}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>shield_net_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,518},{140,94}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{140,94}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>shield_net_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,596},{140,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{140,92}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>shield_net_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,466},{140,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{140,98}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>shield_net_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{140,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{140,104}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>shield_net_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{130,98}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{130,98}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>shot_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1108},{30,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{30,86}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>shot_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,316},{28,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{28,94}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>shot_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,106},{40,88}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{40,88}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>shot_13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,464},{56,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{56,144}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>shot_14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,460},{56,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{56,144}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>shot_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,418},{56,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{56,144}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>shot_16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,196},{58,144}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{58,144}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>shot_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,654},{30,104}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{30,104}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>shot_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,770},{24,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{24,92}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>shot_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,466},{26,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{26,86}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>shot_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,506},{26,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{26,90}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>shot_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1150},{36,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{36,84}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>shot_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,412},{28,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{28,92}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>shot_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,990},{36,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{36,100}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>shot_99_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{43,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{43,110}}</string>
                <key>sourceSize</key>
                <string>{71,150}</string>
            </dict>
            <key>shot_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{40,102}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{40,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shot_net.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3de9efa5189ee225861986b8542f5b15$</string>
            <key>textureFileName</key>
            <string>shot_net.png</string>
        </dict>
    </dict>
</plist>
