<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tip_menu_update.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,155},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>tip_menu_update_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,284},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>tips_menu_alms_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,190},{272,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,93}}</string>
                <key>sourceSize</key>
                <string>{272,93}</string>
            </dict>
            <key>tips_menu_alms_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,398},{272,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,93}}</string>
                <key>sourceSize</key>
                <string>{272,93}</string>
            </dict>
            <key>tips_menu_alms_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,298},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>tips_menu_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,367},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,38}</string>
            </dict>
            <key>tips_menu_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,367},{46,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,24}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>tips_menu_back_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,321},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>tips_menu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,162},{34,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,78}}</string>
                <key>sourceSize</key>
                <string>{34,78}</string>
            </dict>
            <key>tips_menu_btn_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,333},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tips_menu_btn_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,268},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tips_menu_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,106},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>tips_menu_buy_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,317},{32,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>tips_menu_click_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,284},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>tips_menu_dict.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,251},{46,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>tips_menu_dict_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,284},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>tips_menu_exc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,190},{60,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,24}}</string>
                <key>sourceSize</key>
                <string>{60,24}</string>
            </dict>
            <key>tips_menu_exc_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,284},{34,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>tips_menu_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,251},{46,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,24}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>tips_menu_exit_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,398},{34,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{34,36}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>tips_menu_getgold.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,24},{80,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tips_menu_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,204},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>tips_menu_help_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,69},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{28,36}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>tips_menu_jj.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,91},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{70,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tips_menu_l_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,69},{297,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,94}}</string>
                <key>sourceSize</key>
                <string>{297,94}</string>
            </dict>
            <key>tips_menu_l_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,97},{297,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{297,92}}</string>
                <key>sourceSize</key>
                <string>{297,94}</string>
            </dict>
            <key>tips_menu_paoup_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,197},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>tips_menu_paoup_num_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1},{178,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,22}}</string>
                <key>sourceSize</key>
                <string>{178,22}</string>
            </dict>
            <key>tips_menu_paoup_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,48},{120,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{120,20}}</string>
                <key>sourceSize</key>
                <string>{124,24}</string>
            </dict>
            <key>tips_menu_paoup_progress_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{318,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,20}}</string>
                <key>sourceSize</key>
                <string>{318,20}</string>
            </dict>
            <key>tips_menu_paoup_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,24},{123,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,23}}</string>
                <key>sourceSize</key>
                <string>{123,23}</string>
            </dict>
            <key>tips_menu_serv.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,345},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>tips_menu_serv_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,350},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,38}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>tips_menu_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,298},{46,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>tips_menu_set_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,350},{36,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{36,36}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>tips_menu_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,367},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>tips_menubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,22},{74,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,304}}</string>
                <key>sourceSize</key>
                <string>{74,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tips_menu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dd89cd60296b7e710ffd397c1f83f6b$</string>
            <key>textureFileName</key>
            <string>tips_menu.png</string>
        </dict>
    </dict>
</plist>
