<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish52_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1046},{284,518}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{284,518}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{288,476}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{288,476}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{270,494}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{270,494}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{280,510}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{280,510}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1544},{292,498}}</string>
                <key>offset</key>
                <string>{-29,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{292,498}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,520}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,520}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{306,520}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,520}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{238,520}}</string>
                <key>offset</key>
                <string>{-56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,520}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1468},{234,462}}</string>
                <key>offset</key>
                <string>{-58,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{234,462}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,972},{236,376}}</string>
                <key>offset</key>
                <string>{-57,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,144},{236,376}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,524},{288,512}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{288,512}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1038},{288,504}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{288,504}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,490},{270,480}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{270,480}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{270,486}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{270,486}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,498},{290,486}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,1},{290,486}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,986},{304,480}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,3},{304,480}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1566},{312,480}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{312,480}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
            <key>fish52_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1568},{310,478}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{310,478}}</string>
                <key>sourceSize</key>
                <string>{350,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish12.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6a4d8ef8fccb832aa1fb1e2f84fd554$</string>
            <key>textureFileName</key>
            <string>fish12.png</string>
        </dict>
    </dict>
</plist>
